<h1>Countries</h1>

<form action="<%= search_countries_path %>" id="search-form" method="post"></form>

<field data-controller="search-field" id="message">
  <input type="hidden" data-search-field-target="code">
  <input type="search" name="q" data-search-field-target="query" form="search-form" data-action="input->search-field#search">
  <button form="search-form" type="submit" data-search-field-target="submit" style="display: none;"></button>
  <span data-search-field-target="display"></span>
</field>

<div id="search_results" data-controller="search-results" data-search-results-search-field-outlet="#message"
  data-search-results-target="container"></div>
