<div style="display: flex; gap: 20px">
  <div>
    <h2>Countries</h2>
    <form action="<%= search_countries_path %>" id="search-form-1" method="post"></form>
    <%= render partial: "search_field", locals: { 
      field_name: 'country_id', 
      field_value: '50',
      field_text: 'Costa Rica',
      form_id: "search-form-1", 
      search_results_id: 'country_search_results' } %>
  </div>
  <div>
    <h2>Movies</h2>
    <form action="<%= search_movies_path %>" id="search-form-2" method="post"></form>
    <%= render partial: "search_field", locals: { 
      field_name: 'movie_id', 
      form_id: "search-form-2", 
      search_results_id: 'movie_search_results' } %>
  </div>
  <div>
